<div class="d-flex">
    <div class="flex-fill">
        <div>
            <img src="https://chisnghiax.com/ciseco/static/media/detail1.f45e3a4d9bfeafd2f70b.jpg" alt="" class="img-fluid rounded-4">
        </div>
    </div>

    <div class="w-75 px-5">
        <div>
            <h2>Heavy Weight Shoes</h2>
        </div>

        <div>
            <div class="text-success border border-success rounded-3 border-2 p-2">
                $42.00</div>

                <div class="pb-3">
                    <button class="btn btn-primary rounded-circle me-1"
                        style="width: 25px; height: 25px;"></button>
                    <button class="btn btn-danger rounded-circle me-1"
                        style="width: 25px; height: 25px;"></button>
                    <button class="btn btn-dark rounded-circle me-1"
                        style="width: 25px; height: 25px;"></button>
                    <button class="btn btn-success rounded-circle me-1"
                        style="width: 25px; height: 25px;"></button>
                </div>

                <div>
                    <div class="px-2 py-3">
                        S
                    </div>
                </div>
        </div>
    </div>
</div>
